html {
  height: 100%;
  font-family: 'Kumbh Sans', sans-serif;
}
body {
background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
height: 100%;
margin: 0;
background-repeat: no-repeat;
background-attachment: fixed;
padding: 2em;
}

.mainbox {
  display: flex;
  max-width: 60em;
  max-height: 45em;
  background-color: white;
  margin: 12em auto;
  border-radius: 1.2em;
  flex-direction: column;
  height: 100%;
}

.panel {
  font-size: .8em;
  color: hsl(237, 12%, 33%);
}


/* ================== DESIGN for Mobile ==================*/
.womanmobimg {
  width: 90%;
  height: auto;
  position: relative;
  left: 50%;
  transform: translate(-55%, -55%);
}

.bgmobimg {
  width: 80%;
  height: auto;
  position: relative;
  left: 50%;
  transform: translate(-49%, -190%);
}


/* ================== DESIGN for Mobile ==================*/




/* /////////////////////////// DESKTOP /////////////////////// */


/* ================== DESIGN for DESKTOP ==================*/
.womandeskimg {
  display: none;
}

.bgdeskimg {
  display: none;
}

.boxdeskimg {
  display: none;
}
/* ================== DESIGN for DESKTOP==================*/

.design {
  max-height: 25rem;
}

/* ================== FAQ==================*/
h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.faq {
  margin-left: 2em;
  margin-top: -10em;
  position: relative;
  margin-right: 1em;
}


/* ================== FAQ==================*/



/* ================== ACCORDION ==================*/



/* Style the element that is used to open and close the accordion class */
p.accordion {
    background-color: white;
    color: black;
    cursor: pointer;
    padding: .5em;
    width: 90%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.2s;
    margin-bottom:10px;
    border-bottom: 1px solid hsl(240, 5%, 91%);
}

/* Add a background color to the accordion if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
p.accordion.active, p.accordion:hover {
    background-color: white;
    color: hsl(14, 88%, 65%);
}

/* Unicode character for "plus" sign (+) */
p.accordion:after {
    content: url("/images/arrowdown.svg");
    float: right;
    transform: rotate(180deg);
}

/* Unicode character for "minus" sign (-) */
p.accordion.active:after {
    content: url("/images/arrowdown.svg");
    transform: none;
}

p.accordion.active {
  color: black;
  font-weight: bold;
}



/* Style the element that is used for the panel class */

div.panel {
    padding: 0 12px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    opacity: 0;
}

div.panel.show {
    opacity: 1;
    max-height: 500px; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
}



/* ================== ACCORDION ==================*/








/* ==================== DESKTOP =============================*/
@media only screen and (min-width: 58em) {

.mainbox {
    flex-direction: row;
    display: flex;
    max-width: 57em;
    max-height: 31.3em;
    margin: 6.3em auto;
    overflow: hidden;
  }




/* ================== DESIGN ==================*/

.design {
  padding-right: 5em;
}

.boxdeskimg {
display: block;
position: absolute;
height: 10.5em;
margin-top: -24em;
margin-left: -7em;
}

.womandeskimg {
  display: block;
  height: 80%;
  margin-top: 4.3em;
  margin-left: -4.2em;
  z-index: 0;
}

.bgdeskimg {
  display: block;
  height: 200%;
  margin-top: -38em;
  margin-left: -29em;
  z-index: 1;
}

.womanmobimg {
  display: none;
}

.bgmobimg {
  display: none;
}


/* ================== DESIGN ==================*/

/* ================== FAQ ==================*/

.faq {
margin: auto;
text-align: left;
}

h1 {
display: block;
margin: auto;
padding-left: .2em;
}



/* ================== FAQ ==================*/
